/* General setup */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/JulietaUla/Montserrat/raw/master/fonts/webfonts/woff2/Montserrat-Regular.woff2')
   format('woff2');
}
@font-face {
  font-family: 'open_sans';
  src: url('opensans-bold-webfont.woff2') format('woff2'),
       url('opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/impallari/Libre-Baskerville/raw/master/fonts/ttf/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'cursive_heading';
  src: url('your-cursive-font.woff2') format('woff2'),
       url('your-cursive-font.woff') format('woff');
  font-weight: 700; 
  font-style: normal; 
}
@font-face {
  font-family: 'Georgia';
  src: url('path-to-your-font/Georgia.woff2') format('woff2'),
       url('path-to-your-font/Georgia.woff') format('woff');
 
}
@font-face {
  font-family: 'Times New Roman';
  src: url('path-to-your-font/Times_New_Roman.woff2') format('woff2'),
       url('path-to-your-font/Times_New_Roman.woff') format('woff');
}
/* give page uniform text size */
html {
  font-size: 15px;
}

* {
  box-sizing: border-box;
}


/* Layout */

section {
  float: left;
  width: 50%;
}

section h2 + p,
section h2 + p::first-line {
  text-indent: 20px;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */


/*  H1 HEADING STYLE CHANGED */
h1{
  font: 'Georgia','Times New Roman',serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  padding: auto;
  text-align: center;
  letter-spacing: 3px;
}

/*  H2 HEADING CHANGED*/
h2 {
  font-family: Courier, monospace,'Verdana', sans-serif; 
  font-size: 25px;
  font-weight: 800;
  font-style: bold;
  letter-spacing: 3px;

}

p{
  line-height: 25px;
  font-size: 18px;
}

/*  BODY STYLE CHANGED */
body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: serif;
  line-height: 1.3;
  letter-spacing: 1px;
  word-spacing: 1px;
}

/*  EXTERNAL LINK ICONS ADDED */
a[href^="http"] {
  background: url("download_external_link.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}  
/* LINKS STYLED  */
a {
  color: rgb(194, 108, 108); 
  text-decoration: none; 
text-decoration: underline;
outline: none;}



a:visited {
    color: rgb(230, 97, 248); 
    text-decoration: none}


a:hover {
  color: rgb(228, 77, 77); 
  text-decoration: none;
}


a:focus {
    outline: 2px solid #2715c4;
    text-decoration: none; }

  ul, ol,aside p{
    margin-top: 1em; 
    margin-bottom: 1em; 
    }
/*  NAVIGATION BAR STYLED */
  .list-item{
      display: inline-block;
        font-family: 'Georgia','Times New Roman',serif;
        font-weight: 400;
        font-style: italic;
        text-decoration: none;
        line-height: 4em;
        width:100%;
        border: 3px solid #a66;
        border-radius: 3px;
        text-align: center;           
        margin-top: 1em;
        background-color: rgb(255, 243, 243);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    
      }
    
