/* General setup */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/JulietaUla/Montserrat/raw/master/fonts/webfonts/woff2/Montserrat-Regular.woff2')
   format('woff2');
}
@font-face {
  font-family: 'open_sans';
  src: url('opensans-bold-webfont.woff2') format('woff2'),
       url('opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/impallari/Libre-Baskerville/raw/master/fonts/ttf/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'cursive_heading';
  src: url('your-cursive-font.woff2') format('woff2'),
       url('your-cursive-font.woff') format('woff');
  font-weight: 700; /* Bold */
  font-style: normal; /* Not italic */
}





* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: serif;
  line-height: 1.3;
}

a{
  color: rgb(5, 1, 247);
}
a.visited{
  color: rgb(113, 113, 248);
}



/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */