html {
  font-family: sans-serif;
}
div {
  margin: 0 auto;
  text-align: center;
  padding-top: 80 px;
  text-shadow: 1px 1px 1px black;
  
  width: 200px;
  height: 200px;
  border: 1px solid rgb(158, 15, 15);
  border-radius: 10px;
  box-shadow:2px 2px 2px  rgb(14, 13, 13),inset 3px 3px 3px rgb(214, 213, 213), inset -5px 5px 5px rgb(85, 73, 73) ;
 
  color: #fdfbfb;
  background-color: #e20f0f;
  font-size: 1.5rem;

}

/* Your CSS below here */